

/* EX1) Write a selector to target the h1 in jumbotron */

.jumbotron h1{
    color: blue;
}

/* EX2) Write a selector to target every children of the navbar */

.nav a{
    border: 2px solid red;
}

/* EX3) Write a selector to target the "continue reading..." inside the jumbotron*/
.jumbotron a{
    background-color: brown;
}

/*          EX4) Write a selector to target the first blog-post */
.container .row .blog-main div:first-of-type {
    background-color: crimson;
    border: 2px solid green;
}

/* EX5) Write a selector to target the "even" links in the navbar */
.nav a:nth-child(2n) {
    background-color: black !important;
}

/* EX6) Write a selector to target the last blog post*/
.container .blog-main div:last-of-type {
    background-color: grey;
    border: 2px solid yellow;
}

/* EX7) Write a selector to target all the li into the first ordered-list in the sidebar ( Archives )*/

.container .row .blog-sidebar div:nth-child(2){
    background-color: indigo;
}

/*  EX8) Write a selector to target the second post author */
.blog-post-meta a{
    color: grey;
    font-size: 30px;
}

/* EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly */
p:last-of-type a{
    border: grey;
    background-color: khaki;
    font-style: italic;
    font-size: 20px;
}

/* EX10) Write a selector to target the footer*/
.blog-footer{
    background-color: lavenderblush;
}